/*
#0B0707 - baggrund (I'm scared of the dark)
#1D230F - baggrund header og footer (almost black)
#C69D72 - overskrift (Golden globe)
#708238 - lys grøn
#57642C - medium grøn
#3D441F - mørk grøn
#F1F1F0 - hvid (text)
*/ 

body{
    background-color: #0B0707; 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
}

.logo{
    size: 100px;
}

header{
    background-color: #1D230F;
    position: top;
    left: 100;
    bottom: 100;
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    font-size: 15px;
    color: #C69D72;
}

img{
    max-width: 200%;
    height: auto;
    position: fixed;
    bottom: -200px;
}

button{
    width: 100px;
    height: 50px;
    background-color: #708238;
    border-radius: 25px;
    border: solid transparent;
    color: #C69D72;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    cursor: pointer;
    row-gap: 5px;
}

button:hover{
    background-color: #57642C;
}

.animation1{
    animation: myanimation 5s;
    animation-fill-mode: forwards;
}

.animation2{
    animation: myanimation2 5s;
    animation-fill-mode: forwards;
}

.animation3{
    animation: myanimation3 5s;
    animation-fill-mode: forwards;
}

.text{
    width: 100%;
        top: 20%;
        position: absolute;
        left: 0%;
        border-bottom: 2px solid white;
        overflow: hidden;
        animation: animate 10s linear forwards;
        color: #F1F1F0;
}

/*animation for text*/

@keyframes animate {
    0% {
        width: 100%;
        height: 0px;
    }
    100% {
        width: 100%;
        height: 50%;
    }
}

/*animtion for knapper*/

@keyframes myanimation {
    0%{
        translate: 0%;
    }
    100%{
        translate: 100%;
    }
}

@keyframes myanimation2 {
    0%{
        translate: 0%;
    }
    100%{
        translate: 0%;
    }
}

@keyframes myanimation3 {
    0%{
        translate: 0%;
    }
    100%{
        translate: -100%;
    }
}



footer{
    background-color: #1D230F;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 15px;
    color: #C69D72;
}



@media only screen and (min-width: 1920px) {

body{
    background-color: aqua;

}



}