body{
    background-color: #0B0707; 
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
}

button{
    width: 100px;
    height: 50px;
    background-color: green;
    border-radius: 25px;
    border: solid transparent;
    color: white;
    font-weight: bold;
    font-size: 12px;
    cursor: pointer;
    row-gap: 5px;
}

button:hover{
    background-color: aqua;
}

img{
    max-width: 80%;
    height: auto;
}

.animation1{
    animation: myanimation 5s;
    animation-fill-mode: forwards;
}

.animation2{
    animation: myanimation2 5s;
    animation-fill-mode: forwards;
}

.animation3{
    animation: myanimation3 5s;
    animation-fill-mode: forwards;
}

@keyframes myanimation {
    0%{
        translate: 0%;
    }
    100%{
        translate: 100%;
    }
}

@keyframes myanimation2 {
    0%{
        translate: 0%;
    }
    100%{
        translate: -100%;
    }
}

@keyframes myanimation3 {
    0%{
        translate: 0%;
    }
    100%{
        translate: -100%;
    }
}



.footer{
    background-color: #1D230F;
}