/*
#0B0707 - baggrund (I'm scared of the dark)
#1D230F - baggrund header og footer (almost black)
#C69D72 - overskrift (Golden globe)
#708238 - lys grøn
#57642C - medium grøn
#3D441F - mørk grøn
#F1F1F0 - hvid (text)
*/ 

header{
    background-color: #1D230F;
    width: 100%;
    height: 50px;
    text-align: center;
    display: flex;
    font-size: 15px;
    color: #C69D72;
    margin-bottom: 85%;
}

.logo{
    width: auto;
    margin-right: 10px;
    padding: 15px;
}

body{
    background-color: #0B0707; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
}

.globe{
    max-width: 200%;
    height: auto;
    position: fixed;
    bottom: -200px;
}

button{
    width: 100px;
    height: 50px;
    background-color: #708238;
    border-radius: 25px;
    border: solid transparent;
    color: #C69D72;
    font-family: 'Courier New', Courier, monospace;
    font-size: 12px;
    cursor: pointer;
    row-gap: 10px;
    z-index: 9;
}

button:hover{
    background-color: #57642C;
}

.animation1{
    animation: myanimation1 3s;
    animation-fill-mode: forwards;
}

.animation2{
    animation: myanimation2 3s;
    animation-fill-mode: forwards;
}

.animation3{
    animation: myanimation3 3s;
    animation-fill-mode: forwards;
}

/*
.text{
    width: 100%;
        top: 20%;
        position: absolute;
        left: 0%;
        border-bottom: 2px solid white;
        overflow: hidden;
        animation: animate 3s linear forwards reverse;
        color: #F1F1F0;
}
*/

/*animation for text*/

@keyframes animate {
    0% {
        width: 100%;
        height: 0px;
    }
    100% {
        width: 100%;
        height: 50%;
    }
}

/*animation for knapper*/

@keyframes myanimation1 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-290px); }
}

@keyframes myanimation2 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-340px); }
}

@keyframes myanimation3 {
    0% { transform: translateY(0); }
    100% { transform: translateY(-390px); }
}

footer{
    background-color: #1D230F;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 15px;
    color: #C69D72;
}



@media only screen and (min-width: 1920px) {

body{
    background-color: aqua;

}

}